<!-- page content -->

<div class="" id="form_container">
           
    <div id="myresponse"></div>

 <form id="theform" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
 <div class="card-body">

   <div class="row mb-3">
     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="module_title">Role Name <span class="required">*</span>
     </label>
     <div class="col-md-6 col-sm-6 col-xs-12">
       <input type="text" id="role_name" name="role_name" required="required" class="form-control col-md-7 col-xs-12" value="{{ role.role_name }}">
     </div>
   </div>   

   <div class="ln_solid"></div>
   <div class="border-top my-3"></div>
   <div class="row mb-3">
     <div class="col-md-12 text-end">              
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
             <button class="btn btn-primary" type="reset">Reset</button>
       <button type="submit" class="btn btn-success">Save Changes</button>
     </div>
   </div>

 </form>
</div>


<!-- jQuery -->

<script type="text/javascript">
$('#loadinggif').hide(); // hide the loading gif   

$('#theform').submit(function(e) {
e.preventDefault();
var baseurl = "{{base_url}}";
var formData = new FormData($(this)[0]); 

//alert(formData);

$('#loadinggif').show();  // show the loading gif.

//alert(refname);
     $.ajax({
         type: "POST",
         url:  "/editrole/{{role.role_id}}",
         data: formData, 
         processData: false,
         contentType: false,
         success: function (response){ 
         

         if(response != null && response.success===true){
           
         window.location = baseurl + "roles";      
         }else{
           console.log(response);
           //var theresponse = JSON.parse(response);
           var errorString = " <div class='alert alert-danger alert-dismissible fade show' role='alert'>";
               errorString += "<ul class='verror'>";               
               errorString += "<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>";
           $.each( response.errors, function( key, value) {
               
               errorString += "<li>" + value + "</li>";
           });
           errorString += "</ul></div>";
            $('#myresponse').html(errorString); 
            //$('#form_container').html(response); 
         }
                  
         },
         error: function(Error){alert('Error: something went wrong!');}

     });
     return false;
 });

</script>
