{% extends 'layouts/portalend.html' %}

{% block content %}
<div class="pagetitle">
    <h1>{{moduletitle}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/portal/dashboard">Home</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="card-title" style="width:60%; border:0px solid green">List of {{title}}</h5>
                    <div class="text-end" style="width:30%;  border:0px solid red">
                        <a href="/addrole" data-title="Add New Role" data-bs-remote="false" data-bs-toggle="modal" data-bs-target="#largeModal" data-bs-backdrop="static" data-bs-keyboard="false" class="btn btn-primary btn-xs"><i class="fa fa-plus-circle"></i> Add New Role</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {% for category, message in messages %}
                            <div>{{message}}</div>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    {% endwith %}
                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Role ID</th>
                                <th scope="col">Role Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for role in roles %}                            
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                
                                <td>{{ role.role_id }}</td>
                                <td>{{ role.role_name }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-gear "></i>
                                        </a>
                                      
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li>                                              
                                                <a  href="/assignprivileges/{{role.role_id}}" class="dropdown-item"><i class="bi bi-plus-circle"></i> Assign Privileges </a>
                                              </li>
                                              <li class="dropdown-divider"></li>
                                          <li>                                              
                                              <a  href="/editrole/{{role.role_id}}" data-title="Edit Role: {{role.role_name}}" data-bs-remote="false" data-bs-toggle="modal" data-bs-target="#largeModal" class="dropdown-item" data-bs-backdrop="static" data-bs-keyboard="false"><i class="bi bi-pencil-square"></i> Edit </a>
                                            </li>
                                            <li class="dropdown-divider"></li>
                                          <li>                                              
                                              <a name="deleter" id="deleter" value="{{role.role_id}}"  data-swaltext="You want to delete this {{role.role_name}}  record?" data-swalurl="/deleterole/{{role.role_id}}"
                                              data-swalbtnconfirm="Yes, delete it!" 
                                              data-swalsuccesstitle="Deleted!"
                                              data-swalsuccess="Role was successfully deleted!" data-swalredirect="/roles" data-swalimage="" class="dropdown-item"><i class="bi bi-trash"></i> Delete</a>
                                            </li>
                                          
                                        </ul>
                                      </div>
                                </td>
                            </tr>
                            {% endfor %}
                      
                         
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>
        </div>
    </div>
</section>
{% include 'shared/largemodal.html' %}
{% endblock %}
