<!-- page content -->

<div class="" id="form_container">
           
    

 <form id="theform" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
 <div class="card-body">

   <div class="row mb-3">
     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="thread_id">Thread <span class="required">*</span>
     </label>
     <div class="col-md-9 col-sm-6 col-xs-12">
       <select  id="thread_id" name="thread_id" required="required" class="form-select col-md-7 col-xs-12">
        <option value="">Choose Thread</option>
        {% for thread in threads %}
        <option value="{{thread.thread_id}}" {% if thread.thread_id == id: %} selected {% endif %}>{{thread.threadname}}</option>
        {% endfor %}
        
    </select>
     </div>
   </div>   

    <div class="row mb-3">
     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="posttitle">Post Title <span class="required">*</span>
     </label>
     <div class="col-md-9 col-sm-6 col-xs-12">
       <input type="text" id="posttitle" name="posttitle" required="required" placeholder="" class="form-control col-md-7 col-xs-12">
     </div>
   </div>   

   <div class="row mb-3">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="postintro">Post Intro<span class="required"></span>
    </label>
    <div class="col-md-9 col-sm-6 col-xs-12">      
      <textarea id="postintro" name="postintro"  placeholder="" class="form-control col-md-7 col-xs-12 tinymce-editor"></textarea>
    </div>
  </div>   

  <div class="row mb-3">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="postbody">Post Body <span class="required">*</span>
    </label>
    <div class="col-md-9 col-sm-6 col-xs-12">
      <textarea id="postbody" name="postbody"  placeholder="" class="form-control col-md-7 col-xs-12 tinymce-editor" required></textarea>
    </div>
  </div> 
    

  <div class="row mb-3">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="imageurl">Post Image  <span class="required">*</span>
    </label>
    <div class="col-md-9 col-sm-6 col-xs-12">
      <input type="file" id="imageurl" name="imageurl" required  placeholder="" class="form-control col-md-7 col-xs-12" accept=".png, .jpg, .jpeg">
    </div>
  </div> 

  <div class="row mb-3">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="postvideourl">Video URL <span class="required"></span>
    </label>
    <div class="col-md-9 col-sm-6 col-xs-12">
      <input type="text" id="postvideourl" name="postvideourl"  placeholder="" class="form-control col-md-7 col-xs-12">
      <p class="text-muted">YouTube URL</p>
    </div>
  </div> 

  <div class="row mb-3">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="metakeyword">Meta Keywords <span class="required"></span>
    </label>
    <div class="col-md-9 col-sm-6 col-xs-12">
      <input type="text" id="metakeyword" name="metakeyword"  placeholder="" class="form-control col-md-7 col-xs-12">
      
    </div>
  </div> 

  <div class="row mb-3">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="metadesc">Meta Description <span class="required"></span>
    </label>
    <div class="col-md-9 col-sm-6 col-xs-12">
      <input type="text" id="metadesc" name="metadesc"  placeholder="" class="form-control col-md-7 col-xs-12">
      
    </div>
  </div> 

  <div class="row mb-3">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sortorder">Sort Order <span class="required">*</span>
    </label>
    <div class="col-md-9 col-sm-6 col-xs-12">
      <input type="number" id="sortorder" name="sortorder" min="1" value="1" required="required"  class="form-control col-md-7 col-xs-12">
    </div>
  </div>   
 
  <div class="row mb-3">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="poststatus">Post Status <span class="required">*</span>
    </label>
    <div class="col-md-9 col-sm-6 col-xs-12">
        <select  id="poststatus" name="poststatus" required="required" class="form-select col-md-7 col-xs-12">
            <option value="Published">Publish</option>
            <option value="Pending">Pending</option>
          </select>
    </div>
  </div> 

                       
 </div>           
         
   <div class="ln_solid"></div>
   <div class="border-top my-3"></div>
   <div class="row mb-3">
     <div class="col-md-12 text-end">    
        <div id="myresponse"></div>          
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
             <button class="btn btn-primary" type="reset">Reset</button>
       <button type="submit" class="btn btn-success">Submit</button>
     </div>
   </div>

 </form>
</div>




<!-- jQuery -->

<script type="text/javascript">
$('#loadinggif').hide(); // hide the loading gif   

$('#theform').submit(function(e) {
e.preventDefault();
var baseurl = "{{base_url}}";
var formData = new FormData($(this)[0]); 

//alert(formData);

$('#loadinggif').show();  // show the loading gif.

//alert(refname);
     $.ajax({
         type: "POST",
         url:  "/addpost/{{id}}",
         data: formData, 
         processData: false,
         contentType: false,
         success: function (response){ 
         

         if(response != null && response.success===true){
           
         window.location = baseurl + "threadposts/{{id}}";      
         }else{
           console.log(response);
           //var theresponse = JSON.parse(response);
           var errorString = " <div class='alert alert-danger alert-dismissible fade show' role='alert'>";
               errorString += "<ul class='verror'>";               
               errorString += "<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>";
           $.each( response.errors, function( key, value) {
               
               errorString += "<li>" + value + "</li>";
           });
           errorString += "</ul></div>";
            $('#myresponse').html(errorString); 
            //$('#form_container').html(response); 
         }
                  
         },
         error: function(Error){alert('Error: something went wrong!');}

     });
     return false;
 });

</script>
{% include 'shared/js_tinymice.html'  %}